.env
.env.*
!.env.example
vendor/
node_modules/
public/build/
public/storage
public/hot
storage/*.key
storage/logs/
storage/framework/cache/
storage/framework/sessions/
storage/framework/testing/
storage/framework/views/
bootstrap/cache/*.php
.phpunit.result.cache
*.log
.idea/
.vscode/
Thumbs.db
Desktop.ini
